:root {
  --color-primary: #000;
  --color-secondary: #e83e8c;
  --color-white: #fff;
  
  --swiper-navigation-size: 30px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: #000;
  
}
