@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 300;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: center;
  width: 100%;
  &--dot {
    animation: dot-keyframes 1s infinite ease-in-out;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    
    &:nth-child(2) {
      animation-delay: .5s;
    }
    
    &:nth-child(3) {
      animation-delay: 0.8s;
    }
  }
}

.heading-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 88px;
}
.heading-3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
}

.custom-btn {
  padding: 18px 40px;
  font-weight: 400;
  display: inline-block;
  background: var(--color-primary);
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 20px;
  min-width: fit-content;
  &:hover {
    opacity: 0.8;
  }
}

p {
  white-space: break-spaces;
}

.footer-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 80%;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.container {
  padding:16px;
}

::selection {
  background-color: rgb(blue, 30%) !important;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1272px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding:20px;
  }
}
