@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Yellowtail&display=swap');
@font-face {
  font-family: 'Century Gothic';
  src: url('/public/fonts/CenturyGothic.eot');
  src: url('/public/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/CenturyGothic.woff2') format('woff2'),
    url('/public/fonts/CenturyGothic.woff') format('woff'),
    url('/public/fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('/public/fonts/CenturyGothic-Bold.eot');
  src: url('/public/fonts/CenturyGothic-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('/public/fonts/CenturyGothic-Bold.woff') format('woff'),
    url('/public/fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Century Gothic', sans-serif;
  scroll-behavior: smooth;
  font-size: 22px;
  color: #000;
  background: #fff;
  line-height: normal;
}
@media only screen and (max-width: 1140px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
